$Grey: #eee; //浅灰
$DarkGrey: #666; //深灰
$NormalGrey:#999; // 灰
$NormalBlack: #151515; //中黑
$SoilGrey: #646464; // 土灰
$DeepGreen:#008e59; //深绿
$BlackGreen:#004229; //黑绿
$WeixinGreen:#51c332; //微信绿
$WeiboRed:#e72c40; //微博红
$QzoneYellow:#fcb920; //空间黄
$TwitterBlue:#55acee; //推特蓝
$FacebookPurple:#415d98; //脸书紫
$GoogleRed:#dc5046; //谷歌红
$ZhihuBlue:#0d78e9; //知乎蓝
$LightPink :#FFB6C1; //浅粉红
$Pink :#FFC0CB; //粉红
$Crimson :#DC143C; //深红(猩红)
$LavenderBlush :#FFF0F5; //淡紫红
$PaleVioletRed :#DB7093; //弱紫罗兰红
$HotPink :#FF69B4; //热情的粉红
$DeepPink :#FF1493; //深粉红
$MediumVioletRed :#C71585; //中紫罗兰红
$Orchid :#DA70D6; //暗紫色(兰花紫)
$Thistle :#D8BFD8; //蓟色
$Plum :#DDA0DD; //洋李色(李子紫)
$Violet :#EE82EE; //紫罗兰
$Magenta :#FF00FF; //洋红(玫瑰红)
$Fuchsia :#FF00FF; //紫红(灯笼海棠)
$DarkMagenta :#8B008B; //深洋红
$Purple :#800080; //紫色
$MediumOrchid :#BA55D3; //中兰花紫
$DarkViolet :#9400D3; //暗紫罗兰
$DarkOrchid :#9932CC; //暗兰花紫
$Indigo :#4B0082; //靛青/紫兰色
$BlueViolet :#8A2BE2; //蓝紫罗兰
$MediumPurple :#9370DB; //中紫色
$MediumSlateBlue :#7B68EE; //中暗蓝色(中板岩蓝)
$SlateBlue :#6A5ACD; //石蓝色(板岩蓝)
$DarkSlateBlue :#483D8B; //暗灰蓝色(暗板岩蓝)
$Lavender :#E6E6FA; //淡紫色(熏衣草淡紫)
$GhostWhite :#F8F8FF; //幽灵白
$Blue :#0000FF; //纯蓝
$MediumBlue :#0000CD; //中蓝色
$MidnightBlue :#191970; //午夜蓝
$DarkBlue :#00008B; //暗蓝色
$Navy :#000080; //海军蓝
$RoyalBlue :#4169E1; //皇家蓝/宝蓝
$CornflowerBlue :#6495ED; //矢车菊蓝
$LightSteelBlue :#B0C4DE; //亮钢蓝
$LightSlateGray :#778899; //亮蓝灰(亮石板灰)
$SlateGray :#708090; //灰石色(石板灰)
$DodgerBlue :#1E90FF; //闪兰色(道奇蓝)
$AliceBlue :#F0F8FF; //爱丽丝蓝
$SteelBlue :#4682B4; //钢蓝/铁青
$LightSkyBlue :#87CEFA; //亮天蓝色
$SkyBlue :#87CEEB; //天蓝色
$DeepSkyBlue :#00BFFF; //深天蓝
$LightBlue :#ADD8E6; //亮蓝
$PowderBlue :#B0E0E6; //粉蓝色(火药青)
$CadetBlue :#5F9EA0; //军兰色(军服蓝)
$Azure :#F0FFFF; //蔚蓝色
$LightCyan :#E0FFFF; //淡青色
$PaleTurquoise :#AFEEEE; //弱绿宝石
$Cyan :#00FFFF; //青色
$Aqua :#00FFFF; //浅绿色(水色)
$DarkTurquoise :#00CED1; //暗绿宝石
$DarkSlateGray :#2F4F4F; //暗瓦灰色(暗石板灰)
$DarkCyan :#008B8B; //暗青色
$Teal :#008080; //水鸭色
$MediumTurquoise :#48D1CC; //中绿宝石
$LightSeaGreen :#20B2AA; //浅海洋绿
$Turquoise :#40E0D0; //绿宝石
$Aquamarine :#7FFFD4; //宝石碧绿
$MediumAquamarine :#66CDAA; //中宝石碧绿
$MediumSpringGreen :#00FA9A; //中春绿色
$MintCream :#F5FFFA; //薄荷奶油
$SpringGreen :#00FF7F; //春绿色
$MediumSeaGreen :#3CB371; //中海洋绿
$SeaGreen :#2E8B57; //海洋绿
$Honeydew :#F0FFF0; //蜜色(蜜瓜色)
$LightGreen :#90EE90; //淡绿色
$PaleGreen :#98FB98; //弱绿色
$DarkSeaGreen :#8FBC8F; //暗海洋绿
$LimeGreen :#32CD32; //闪光深绿
$Lime :#00FF00; //闪光绿
$ForestGreen :#228B22; //森林绿
$Green :#008000; //纯绿
$DarkGreen :#006400; //暗绿色
$Chartreuse :#7FFF00; //黄绿色(查特酒绿)
$LawnGreen :#7CFC00; //草绿色(草坪绿)
$GreenYellow :#ADFF2F; //绿黄色
$DarkOliveGreen :#556B2F; //暗橄榄绿
$YellowGreen :#9ACD32; //黄绿色
$OliveDrab :#6B8E23; //橄榄褐色
$Beige :#F5F5DC; //米色/灰棕色
$LightGoldenrodYellow :#FAFAD2; //亮菊黄
$Ivory :#FFFFF0; //象牙色
$LightYellow :#FFFFE0; //浅黄色
$Yellow :#FFFF00; //纯黄
$Olive :#808000; //橄榄
$DarkKhaki :#BDB76B; //暗黄褐色(深卡叽布)
$LemonChiffon :#FFFACD; //柠檬绸
$PaleGoldenrod :#EEE8AA; //灰菊黄(苍麒麟色)
$Khaki :#F0E68C; //黄褐色(卡叽布)
$Gold :#FFD700; //金色
$Cornsilk :#FFF8DC; //玉米丝色
$Goldenrod :#DAA520; //金菊黄
$DarkGoldenrod :#B8860B; //暗金菊黄
$FloralWhite :#FFFAF0; //花的白色
$OldLace :#FDF5E6; //老花色(旧蕾丝)
$Wheat :#F5DEB3; //浅黄色(小麦色)
$Moccasin :#FFE4B5; //鹿皮色(鹿皮靴)
$Orange :#FFA500; //橙色
$PapayaWhip :#FFEFD5; //番木色(番木瓜)
$BlanchedAlmond :#FFEBCD; //白杏色
$NavajoWhite :#FFDEAD; //纳瓦白(土著白)
$AntiqueWhite :#FAEBD7; //古董白
$Tan :#D2B48C; //茶色
$BurlyWood :#DEB887; //硬木色
$Bisque :#FFE4C4; //陶坯黄
$DarkOrange :#FF8C00; //深橙色
$Linen :#FAF0E6; //亚麻布
$Peru :#CD853F; //秘鲁色
$PeachPuff :#FFDAB9; //桃肉色
$SandyBrown :#F4A460; //沙棕色
$Chocolate :#D2691E; //巧克力色
$SaddleBrown :#8B4513; //重褐色(马鞍棕色)
$Seashell :#FFF5EE; //海贝壳
$Sienna :#A0522D; //黄土赭色
$LightSalmon :#FFA07A; //浅鲑鱼肉色
$Coral :#FF7F50; //珊瑚
$OrangeRed :#FF4500; //橙红色
$DarkSalmon :#E9967A; //深鲜肉/鲑鱼色
$Tomato :#FF6347; //番茄红
$MistyRose :#FFE4E1; //浅玫瑰色(薄雾玫瑰)
$Salmon :#FA8072; //鲜肉/鲑鱼色
$Snow :#FFFAFA; //雪白色
$LightCoral :#F08080; //淡珊瑚色
$RosyBrown :#BC8F8F; //玫瑰棕色
$IndianRed :#CD5C5C; //印度红
$Red :#FF0000; //纯红
$Brown :#A52A2A; //棕色
$FireBrick :#B22222; //火砖色(耐火砖)
$DarkRed :#8B0000; //深红色
$Maroon :#800000; //栗色
$White :#FFFFFF; //纯白
$WhiteSmoke :#F5F5F5; //白烟
$Gainsboro :#DCDCDC; //淡灰色(庚斯博罗灰)
$LightGrey :#D3D3D3; //浅灰色
$Silver :#C0C0C0; //银灰色
$DarkGray :#A9A9A9; //深灰色
$Gray :#808080; //灰色
$DimGray :#696969; //暗淡的灰色
$Black :#000000; //纯黑   
$GithubBlue: #4078c0; // Github蓝