.index-context {
    .index-title {
        font-size: 26px;
        line-height: 32px;
    }
    .title {
        color: #4a4a4a;
    }
    h3:hover {
        .title {
            color: $NormalBlack;
        }
    }
}

.readMore a {
    font-size: 12px;
    padding: 2px 10px;
    border: 1px solid $Gray;
    border-radius: 20px;
    color: $DarkGrey !important;
    &:hover {
        background-color: $Gray;
        color: $White !important;
        text-decoration: none !important;
    }
}

.center-text {
    .home-header {
        -webkit-transition: color 1s ease;
        -moz-transition: color 1s ease;
        transition: color 1s ease;
        position: relative;
        opacity: 0.6;
        &:after {
            content: '';
            background-color: #151515;
            width: 3px;
            height: 3px;
            right: 0;
            bottom: 0;
        }
        &:hover {
            opacity: 1;
            -webkit-transition: all 1s ease;
            -moz-transition: all 1s ease;
            transition: all 1s ease;
        }
        &:hover:after {
            width: 100%;
            position: absolute;
            -webkit-transition: all 1s ease;
            -moz-transition: all 1s ease;
            transition: all 1s ease;
        }
    }
    .home-text {
        opacity: 0.6;
        &:hover {
            opacity: 1;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            transition: all 0.5s ease;
        }
    }
}