@charset "utf-8";
@import "_basic-color.scss";
@import "variable.scss";

@mixin topic-style($font) {
  font-weight: 700;
  line-height: 30px;
  font-size: $font;
}

* {
  font-family: $font-family-open-sans;
}

body {
  font: $font-basic-open-sans;
  background-color: $White;
  color: $DarkGrey;
  padding: 0;
  opacity: 0;
}

i {
  color: $NormalBlack;
}

b,
strong,
em {
  font-weight: 700;
}

ol ol,
ol ul,
ul ol,
ul ul {
  -webkit-padding-start: 10px;
  list-style-type: disc;
}
// code table
figure {
  table,
  tr,
  td {
    border: none;
  }

  th,
  td {
    padding: 0;
    min-width: 0;
  }
}

table,
th,
tr,
td {
  border: 1px solid $Gray;
}

figcaption {
  font-size: 13px;
  letter-spacing: 0;
  color: $SlateGray;
  text-align: center;

  a {
    text-decoration: underline !important;
    color: $SlateGray !important;
  }
}

th,
td {
  padding: 5px;
  min-width: 50px;
}

.footnotes{
  padding-top: 0;
}

// directory
#toc {
  position: fixed;
  top: 50px;
  left: 0;
  max-height: 90%;
  overflow: scroll;
  overflow-x: hidden;
  margin: 0 0 20px 2%;
  padding: 1em;
  line-height: 1.5em;

  .toc {
    margin-top: 10px;
    padding: 0;

    .toc-child {
      padding-left: 20px;
    }
  }

  .toc-link {
    color: #888;
  }

  .toc-active {
    color: #111;
    font-weight: bolder;
  }

  li {
    list-style-type: none;
  }
}

// loading line - pace plugin http://github.hubspot.com/pace/docs/welcome/ 
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  .pace-progress {
    background: $Gray;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
  }
}

.pace-inactive {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-family: $font-family-open-sans;
  color: $NormalBlack;
}

h1 {
  font-size: $font-size-h1;
}

h2 {
  @include topic-style($font-size-h2);
  text-transform: uppercase;
  letter-spacing: 1px;
}

h3 {
  @include topic-style($font-size-h3);
}

h4 {
  @include topic-style($font-size-h4);
  color: $NormalBlack;
}

h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span,
.navbar .nav > li > span {
  font-family: $font-family-georgia;
  font-style: italic;
  margin-left: 4px;
  margin-right: 3px;
  text-transform: none;
  position: relative;
  top: -1px;
}

.index-context {
  .index-title {
    font-size: 26px;
    line-height: 32px;
  }

  .title {
    color: #4a4a4a;
  }

  h3:hover {
    .title {
      color: $NormalBlack;
    }
  }
}

.post-content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;
    font-family: $font-family-open-sans;
    color: $NormalBlack;
  }

  h1 {
    font-size: $font-size-h2;
    font-weight: 700;
    text-align: center;
  }

  h2 {
    font-size: $font-size-h3;
    line-height: 24px;
    padding-left: 10px;
    border-left: 4px solid $DeepGreen;
    margin-top: 10px;
  }

  h3 {
    line-height: 21px;
    font-size: $font-size-h4;
    margin-top: 14px;
  }

  h4 {
    font-size: $font-size-h5;
    color: $NormalBlack;
  }

  .post-tags {
    color: $White;
    background-color: $Gray;
    padding: 2px 6px;
    font-size: 12px;
    margin-right: 4px;
  }

  .post-time,
  .post-copyright {
    color: $NormalGrey;
    display: block;
    font-size: 13px;
    text-align: center;
  }

  .duoshuo,
  .pagination {
    width: 66%;
    position: relative;
    text-align: center;
    left: 8.5%;
  }

  .nogutter {
    padding: 10px 0;
  }

  .share-icon {
    padding: 0 .2em;
  }

  .qrcode {
    position: absolute;
    bottom: 30px;
    right: 80px;
    height: 108px;
    border: 1px solid #ebebeb;
    padding: 5px;
    text-align: center;
    border-radius: $border-radius-base;
    box-shadow: 1px 1px 2px #969696;
    background-color: $White;
  }
}

.post-article {
  img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: block;
  }
}

section {
  background-color: $White;
  position: relative;
  padding-top: 60px;
  z-index: 4;
}

a,
a:active,
a:focus,
a:hover,
a:visited,
a:link {
  color: $NormalBlack;
  text-decoration: none;
  word-break: break-all;
}

// top-banner
.container {
  padding: 0 $padding-huge-horizontal;

  ul {
    a,
    a:active,
    a:focus,
    a:visited,
    a:link {
      color: $DeepGreen;
      text-decoration: none;
    }

    a:hover {
      color: $BlackGreen;
    }
  }
}

@media (min-width: $screen-sm) {
  .container {
    padding: 0 $padding-large-horizontal;
  }
}

.container p a,
.container p a:active,
.container p a:visited,
.container p a:link {
  color: $DeepGreen;
  text-decoration: none;
}

[class*="col-"] {
  padding: 15px;
  border: none;
}

/* Responsive tables fix for Firefox */
@-moz-document url-prefix() {
  fieldset {
    display: table-cell;
  }
}

blockquote {
  margin: 16px 0;
  font-size: 14px;
  p {
    font: italic 14px 'Georgia', "Open Sans", "Helvetica Neue", "Helvetica", "Hiragino Sans GB", "Microsoft YaHei", "Source Han Sans CN", "WenQuanYi Micro Hei", Arial, sans-serif;
  }
}

.table-responsive {
  margin: 40px 0;
}

.row {
  margin-bottom: 0;
}

::selection {
  color: $White;
  background-color: $NormalBlack;
}

::-moz-selection {
  color: $White;
  background-color: $NormalBlack;
}

.clear {
  clear: both;
}

a,
button,
.sb-close img,
.menu-icon {
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease .3s;
  -o-transition: all ease .3s;
  -ms-transition: all ease .3s;
  transition: all ease .3s;
}

// article dividing line
hr {
  margin: 40px 0 20px;
}

input[placeholder],
[placeholder],
*[placeholder] {
  color: $NormalGrey;
  font-family: $font-family-georgia;
}

::-webkit-input-placeholder { /* WebKit browsers */
  color: $NormalGrey;
  opacity: 1;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: $NormalGrey;
  -moz-opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: $NormalGrey;
  -moz-opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: $NormalGrey;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.archive-list,
.category-list,
.tag-list {
  line-height: 25px;
}

.archive-list-count,
.category-list-count,
.tag-list-count {
  margin-left: 10px;
}

.vertical-align {
  display: table;
}

.center-me {
  display: table-cell;
  vertical-align: middle;
}
// img welcome panel
.boost {
  position: relative;
  z-index: 11;
}

.herofade {
  width: 100%;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  -khtml-opacity: .9;
  -moz-opacity: .9;
  opacity: .9;
  height: 100%;
  top: 0;
  position: absolute;
  z-index: 2;
  left: 0;
}

.element-img {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background: no-repeat fixed center center;
  background-size: cover;
  height: 100%;
  position: relative;
  z-index: 10;
}

.logo {
  position: absolute;
  display: block;
  top: 50%;
  margin-top: -15px;
  left: 20px;

  img {
    display: block;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -khtml-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -webkit-transition: all ease 0.2s;
    -moz-transition: all ease .2s;
    -o-transition: all ease .2s;
    transition: all ease .2s;
  }
}

.navbar {
  position: fixed;
  top: 0;

  .nav {
    width: 100%;
    text-align: center;
    height: 50px;

    .welcome {
      cursor: pointer;
    }
  }

  .nav > li {
    float: none;
    display: inline-block;
  }

  .nav > li > span,
  .nav > li > a > i {
    font-size: 12px;
  }

  .nav > li a:hover,
  .nav > li > a:focus {
    background-color: transparent;
  }

  .nav > li > a,
  .navbar .nav li.nolink {
    padding: 0 10px;
    margin: 16px 0;
    color: $NormalBlack;
    font: 400 12px/14px 'Montserrat', "Open Sans", "Helvetica Neue", "Helvetica", "Hiragino Sans GB", "Microsoft YaHei", "Source Han Sans CN", "WenQuanYi Micro Hei", Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: none;
    border-right: 1px solid #aaa;
  }

  .nav > li > a {
    display: block;
  }

  .nav > li:last-child > a,
  .nav > li:last-child {
    border-right: none;
  }
}

.navbar-inner {
  background-color: transparent;
  -webkit-transition: background-color 400ms linear;
  -moz-transition: background-color 400ms linear;
  -o-transition: background-color 400ms linear;
  -ms-transition: background-color 400ms linear;
  transition: background-color 400ms linear;
  z-index: 10;
  border: none;
}

.lightnav .navbar-inner.lightnav-alt .nav > li > a {
  color: $NormalBlack;
}

/* Changes nav background color to white on scroll */
.navbar-inner.lightnav-alt {
  background-color: rgba(255, 255, 255, .9);
}

@media (max-width: $screen-sm-max) {
	
  /* Turn off wow page animations for phones and tablets, (touch-scroll devices essentially) 
   * Why do this? Because on 99% of touch-enabled devices, any on-page actions aren't fired until
   * the browsers' scroll-engine has fully stopped on the screen, therefore you end up scrolling
   * to blank page content, until the user removes their finger from the screen and the browsers' engine can
   * then render the page content, leaving a buggy user-experience */
  .wow {
    visibility: visible !important;
    -webkit-animation-delay: 0 !important;
    animation-delay: 0 !important;
  }

  .animated {
    -webkit-animation-duration: 0;
    -moz-animation-duration: 0;
    -ms-animation-duration: 0;
    -o-animation-duration: 0;
    animation-duration: 0;
    -webkit-animation-fill-mode: none;
    -moz-animation-fill-mode: none;
    -ms-animation-fill-mode: none;
    -o-animation-fill-mode: none;
    animation-fill-mode: none;
  }

  #toc {
    display: none !important;
  }

  .pagination,
  .duoshuo {
    left: 0 !important;
    width: 96% !important;
  }

  .navbar-inner.lightnav-alt {
    border-bottom: none;
  }

  .navbar-inner {
    border-bottom: none !important;
    padding: 0 !important;
    height: 60px;
  }

  .logo img:hover {
    top: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -khtml-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
  }

  .navbar .nav > li {
    display: none;
  }

  .navbar .nav .mobile-li {
    display: inline-block;
  }

  .article-list {
    .category_index {
      padding: 15px 0 0 15px;

      .category-list,
      .tag-list,
      .archive-list {
        -webkit-padding-start: 10px;
      }

      .category-list-item,
      .tag-list-item,
      .archive-list-item {
        display: inline-block;
        border-radius: 999em;
        padding: 0 10px;
        margin: 0 2px;
        margin-bottom: 8px;
        line-height: 28px;
        background-color: #0085a1;

        .category-list-link,
        .tag-list-link,
        .archive-list-link {
          color: $White;
        }

        .category-list-count,
        .tag-list-count,
        .archive-list-count {
          display: none;
        }
      }
    }
  }
}

/* *******************************************************
* Off-canvas navigation, (across all pages)
******************************************************* */
#sb-site {
  min-height: 100% !important;
}

button.menu-icon {
  position: fixed;
  right: 30px;
  top: 14px;
  margin-top: 0;
  z-index: 2050;
  padding: 0;
  background: none;
  outline: none;
  display: block;
  cursor: pointer;
}

button.navbar-toggle {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.menu-icon .before,
.menu-icon .main,
.menu-icon .after {
  display: block;
  width: 25px;
  height: 2px;
}

/* sb Button Hover */
.menu-icon:hover .before,
html.sb-init.sb-active.sb-active-right .menu-icon .before {
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -o-transform: translateY(-2px);
  transform: translateY(-2px);
}

.menu-icon:hover .after,
html.sb-init.sb-active.sb-active-right .menu-icon .after {
  -webkit-transform: translateY(2px);
  -moz-transform: translateY(2px);
  -ms-transform: translateY(2px);
  -o-transform: translateY(2px);
  transform: translateY(2px);
}

button.navbar-toggle .icon-bar {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background-color: $NormalBlack;
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease .2s;
  -o-transition: all ease .2s;
  transition: all ease .2s;
}

.sb-close {
  text-align: right;
  cursor: pointer;

  .icon-cancel-2 {
    color: #fff;
    padding: 10px 20px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    -khtml-opacity: .6;
    -moz-opacity: .6;
    opacity: .6;

    &:hover {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
      -khtml-opacity: 1;
      -moz-opacity: 1;
      opacity: 1;
    }
  }
}

.sb-slidebar {
  background-color: $NormalBlack;
  color: $DarkGrey;
  font-weight: 700;
  cursor: default;
  right: -3px;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: center;
  font-size: 16px;

  a {
    color: $DarkGrey;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;

    &:hover {
      color: $White;
    }
  }

  .sb-links {
    color: #999;
    padding: 20px 10px;

    a {
      display: inline-block;
      margin: 0 10px 10px 0;
      vertical-align: middle;
    }

    a:before {
      display: inline-block;
      position: relative;
      top: -1px;
      vertical-align: middle;
      margin-right: 3px;
      content: "";
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: #bd0926;
    }
  }

  .site-author {
    margin: 5px 0 10px;
    color: #f5f5f5;
    line-height: 1.8;

    .site-author-img {
      border: 2px solid #333;
      padding: 2px;
    }
  }

  .sb-item {
    display: inline-block;
    padding: 0 15px;
    border-left: 1px solid #333;
    text-align: center;
  }

  .sb-item:first-child {
    border: 0;
  }

  .sb-item-count {
    display: block;
    text-align: center;
    font-size: 18px;
  }

  .sb-item-name {
    display: block;
    font-size: 13px;
  }

  .sb-rss {
    a {
      display: inline-block;
      padding: 0 15px;
      color: #fc6423;
      border: 1px solid #fc6423;
      border-radius: $border-radius-base;
      line-height: 1.8;
      font-size: 16px;
      margin-top: 20px;
    }

    a:hover {
      color: $White;
      background-color: #fc6423;
    }
  }

  .links-title {
    font-size: 14px;
  }
}

/* *******************************************************
* Full-height hero section, (homepage, above the fold,)
******************************************************* */
#hero {
  height: 100%;
  position: fixed;
  width: 100%;
  padding-top: 0;

  h2 {
    color: $NormalBlack;
    margin-bottom: 20px;
    display: inline-block;
    padding: 14px;
  }

  p {
    color: #333;
    font: 18px 'Georgia', serif, Helvetica, "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "Source Han Sans CN", "WenQuanYi Micro Hei", Arial, sans-serif;
    display: inline-block;
  }
}

@media (max-width: $screen-sm) {
  .heightblock {
    display: none;
  }

  #hero {
    position: relative;

    .element-img {
      display: none;
    }
  }

  #hero p,
  footer .copy,
  .center-me,
  #statement,
  .return-top,
  .summary,
  .control-panel {
    display: none !important;
  }

  .pagination,
  .nogutter {
    width: 100% !important;
  }

  .social {
    width: 100%;

    ul {
      float: right;
    }

    .search {
      float: left;
      width: 36%;
      position: absolute;
      bottom: 10px;

      #searchform {
        margin-top: 0 !important;
      }

      #searchbox {
        width: 100%;
      }
    }
  }
}

/* *******************************************************
* Statement section, (homepage)
******************************************************* */
#statement {
  background-color: $White;
  padding: 20px 0 10px;

  p {
    letter-spacing: 1px;
    font-size: 20px;
    color: $NormalBlack;
  }

  i {
    font-size: 40px;
    position: relative;
    top: 11px;
    margin-right: 10px;
  }
}

/* *******************************************************
* Services, (homepage)
******************************************************* */
#services {
  background-color: $White;

  .boxes {
    padding-top: 50px;

    .col-md-3,
    .col-md-6 {
      padding: 15px;
    }

    .i {
      font-size: 80px;
    }
  }
}

@media (min-width: $screen-sm-max) {
  li.support:hover {
    border: none !important;
  }
}

/* *******************************************************
* Global footer, (all pages)
******************************************************* */
footer {
  padding: 1% 0;
  background: $NormalBlack;
  z-index: 9;
  position: relative;

  .footer {
    width: 95%;
    margin: 0 auto;
    padding-top: 10px;

    .wrapper {
      margin: 0;
    }
  }

  .copy {
    float: left;
    margin-top: 5px;

    p {
      font-size: 12px;
      color: #767d84;
      margin: 0;
    }

    a {
      color: #767d84;

      &:hover {
        color: $White;
      }
    }
  }

  .social {
    float: right;
    margin-top: 5px;

    ul {
      margin: 0;
      padding: 0;
    }

    li {
      background: none;
      display: inline-block;

      a i {
        font-size: 20px;
        color: #ccc;
        margin-right: 4px;
      }
    }

    #searchform {
      margin-top: 20px;

      .icon-search {
        color: #ccc;
        margin-top: 8px;
      }

      #searchbox {
        height: 30px;
        background-color: $NormalBlack;
        border: 1px solid $NormalBlack;
        padding: 0 10px 0 18px;
        border-bottom: 1px solid gray;
      }
    }
  }
}

.beige-dk {
  background-color: #f7f7f7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  -khtml-opacity: .7;
  -moz-opacity: .7;
  opacity: .7;
}

.readMore a {
  font-size: 12px;
  padding: 2px 10px;
  border: 1px solid $Gray;
  border-radius: 20px;
  color: $DarkGrey !important;

  &:hover {
    background-color: $Gray;
    color: $White !important;
    text-decoration: none !important;
  }
}

.pagination {
  width: 66%;
  display: block;
  margin: auto;

  a {
    padding: 0 10px;
    border: 1px solid $Gray;
    border-radius: 20px;
    max-width: 100%;
    color: $Gray;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 10px;

    &:hover {
      background-color: $Gray;
      color: $White;
    }
  }
}

#intro .col-md-8.col-md-offset-2 img,
#intro .col-md-8.col-md-offset-3 img {
  max-width: 100%;
}

/* qrcodePanel */
.popPanel {
  width: 230px;
  height: 242px;
  display: none;
  position: absolute;
  right: 0;
  z-index: 10000;
  overflow: hidden;
  _top: expression(documentElement.scrollTop + 300);
}

.popPanel .popPanel-inner {
  width: 230px;
  height: 242px;
  position: relative;
  overflow: hidden;
}

.popPanel .popPanel-inner .qrcodePanel {
  width: 220px;
  height: 240px;
  text-align: center;
  background: $White;
  border: solid 1px #ddd;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}

.popPanel .popPanel-inner .qrcodePanel img {
  width: 200px;
  height: 200px;
  border: none;
  padding: 10px 10px 5px;
}

.popPanel .popPanel-inner .qrcodePanel p {
  font-size: 12px;
  color: $DarkGrey;
  line-height: 24px;
  letter-spacing: 1px;
}

.control-panel {
  position: fixed;
  z-index: 10;
  bottom: 132px;
  right: 20px;
  display: none;

  ul {
    li {
      list-style: none;

      i {
        cursor: pointer;
      }
    }
  }
}

pre {
  .line {
    .label {
      color: #333;
      padding: 0;
      font-size: 13px;
      font-weight: 400;
    }
  }
}

.duoshuo,
.pagination,
.nogutter {
  width: 64%;
  text-align: left;
  margin: 0 auto;
}

.nogutter {
  width: 100%;
}

.summary,
.post-content .nogutter {
  width: 100%;
  margin: auto;
}

.summary {
  padding-bottom: 6px;

  #share {
    float: right;
    position: relative;
  }

  .qrcode {
    display: none;
  }
}

.egg-tips {
  width: 860px;
  padding: 10px;
  border: 1px solid hsla(0, 0%, 0%, .25);
  border-radius: $border-radius-base;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.4);
  background-color: $White;

  .egg-header {
    border-bottom: 1px solid #e5e5e5;
    font-size: 18px;
  }

  .egg-close {
    cursor: pointer;
    float: right;
    opacity: .25;

    &:hover {
      opacity: 1;
    }
  }

  .egg-helps {
    padding: 15px 0;

    table {
      border: none;

      tr,
      td {
        border: none;
      }

      th {
        color: #333;
        line-height: 1.5;
        border: none;
        text-align: left;
      }

      kbd {
        display: inline-block;
        padding: 3px 5px;
        background-color: #fcfcfc;
        margin-right: 2px;
        color: #555;
        line-height: 10px;
        vertical-align: middle;
        border: 1px solid #ccc;
        border-bottom-color: #bbb;
        border-radius: 3px;
        box-shadow: inset 0 -1px 0 #bbb;
      }
    }
  }
}

.icon-Popular_GitHub:hover {
  color: #4078c0;
}

.icon-CN_tencent_wechat:hover {
  color: $WeixinGreen;
}

.icon-CN_sina_weibo:hover {
  color: $WeiboRed;
}

.icon-Popular_Twitter:hover {
  color: $TwitterBlue;
}

.icon-CN_zhihu:hover {
  color: $ZhihuBlue;
}

.icon-CN_tencent_qzone:hover {
  color: $QzoneYellow;
}

.icon-Popular_Facebook:hover {
  color: $FacebookPurple;
}

.icon-Popular_G:hover {
  color: $GoogleRed;
}

.icon-search {
  position: absolute;
}
